@{
    ViewData["Title"] = "Home Page";
}

<div class="div1">
    <span style="font-family: Comic Sans MS; font-size: 65px;">Pakistan Sign  Language</span><br><br>
    <span style="font-family: Comic Sans MS; font-size: 30px; color: gray;">"Deafness isn't the opposite of hearing, <br> it's a silence full of sound"</span><br><br>
</div>

<div class="container-fluid">
    <br><br>
        <center>
            <h3>Select what you want to do</h3><br><br>

            <a asp-area="" asp-controller="Home" asp-action="TextSummarization" class="btn btn-link homePgBTN" style="text-decoration: none; color: black; width: 390px;"><h3>Text Summarization</h3></a>
     
            <br><br><br>
            <a href="D:\University\Semester_8\FYP_2\Sign language project\translator.html">
                <button type="button" class="btn btn-link homePgBTN" style="text-decoration: none; color: black; width: 390px;"><h3>Sign Language Translator</h3></button>
            </a>
            <br><br><br>
            <a href="D:\University\Semester_8\FYP_2\Sign language project\textToAvatar.html">
                <button type="button" class="btn btn-link homePgBTN" style="text-decoration: none; color: black; width: 390px;"><h3>Text to Avatar</h3></button>
            </a><br><br><br><br><br><br>
        </center>
</div>
